h1 {
	color: red;
	text-align: center;
	border: 1px solid blue;
}

.classYellow {
	color: yellow;
	background: black;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.child {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.myimg {
	height: 50%;
	object-fit: cover;
}

i.btn {
	color: #d63384;
}

hr {
	color: #d63384;
}

form.btn {
	color: #d63384;
	border: 1px solid #d63384;
}
